<div class="container">
  <h1>CAR INVENTORY</h1>
  <p>A greate place to find your next dream car. Please see our available stocks below.</p>

  <div>
    <label style="padding-right: .5em;" for="search_make">Search box</label>
    <input style="min-width:300px;" [(ngModel)]="searchCar" name="search_make" id="search_make" placeholder="Please enter a car brand..."/>
    <button (click)="getCars()" class="search-btn"><ion-icon name="search"></ion-icon></button>
  </div>

  <div *ngIf="carInventory.length > 0; else noCarInventoryFound">
    <h2>Hooray! We found {{ carInventory.length }} cars that matched your search!</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Transmission</th>
            <th>Vehicle Status</th>
            <th>Price</th>
            <th>Fuel Type</th>
            <th>Kilometres</th>
            <th>CarProof</th>
            <th>Date posted</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of carInventory">
            <td>{{ car.id }}</td>
            <td>{{ car.type }}</td>
            <td>{{ car.make }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.year }}</td>
            <td>{{ car.transmissionType }}</td>
            <td>{{ car.vehicleStatus }}</td>
            <td>{{ car.price | currency:'CAD' }}</td>
            <td>{{ car.fuelType }}</td>
            <td> {{ car.kilometres }}</td>
            <td *ngIf="car.hasCarProof; else elseNoCarProof"><img [src]="'assets/images/carproof.png'" class="img-fluid" alt="image"></td>
            <ng-template #elseNoCarProof>
              <td>Not available</td>
            </ng-template>
            <td> {{ car.datePosted.toLocaleDateString() }}</td>
          </tr>
        </tbody>
      </table>
  </div>
  <ng-template #noCarInventoryFound>
    <div class="jumbotron">
        <p><strong>Oops! We can not find the car your want. Why don't you try another one?</strong></p>
    </div>
  </ng-template>
</div>